
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@import '_reset';

.select-arrow {
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
    appearance:none;
}

.select-arrow:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  position: absolute;
  top: 25%;
  right: 12px;
  font-size: 20px;
  color: #fa230f;z-index: 0; }
.header{
    .container-fluid {
    padding-right: 45px;
    padding-left: 45px;
}
    .uz-nav-de{
        background-color: #fff;
        border-color: #ddd;
        
        .nav-uz-u{
          background: #af0f19;  
            .nav-uz-u-inner{
                padding: 8px 0px;
                ul{
                    float: right;
                    li{
                        display: inline-block;
                        float: left;
                        padding: 0px 22px;
                        line-height: 19px;
                        .fa{
                            color: #fff !important;
                        }
                        a{
                            color: #fff;
                        }
                        &:last-child{
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
        .nav-uz-main{
            .header-logo{
               padding: 12px 0px;
                h1{
                    margin: 0;
                    
                }
                .navbar-brand{
                    display: block;
                    height: 50px;
                    padding: 0;
                    img{
                        width: 100%;
                    }
                }
            }
            .nav-uz-r{
                margin-top: 13px;
                margin-right: -29px;
                margin-left: -29px;
                .navbar-nav{
                    li{
                        a{
                            text-transform: uppercase;
                            color: #323232;
                            padding: 10px 29px;
                            &:hover{
                                color: $site-color;
                            }
                            &:active{
                                color: $site-color;
                            }
                            &:focus{
                               color: $site-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

/**index **/
/**banner ***/
.uz-wrap{
    padding-top: 110px;
}
.uz-banner{
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.uz-banner-inner{
    @extend .tbl;
    .uz-banner-col{
        @extend .tbl-cell;
        vertical-align: middle;
        &:nth-child(2){
            width: 407px;
        }
        &:nth-child(1){
           padding-right: 95px;
            text-align: left;
        }
        .uz-banner-img{
            width: 407px;
            padding-top: 45px;
            img{
                width: 100%;
            }
        }
        .uz-banner-info{
            p{
                font-family: $rbold;
            }
            span{
                &.info-h{
                    color: #fa230f;
                    font: 40px $rblack;
                    margin-bottom: 20px;
                    display: block;
                    
                }
            }
        }
    }
}

.com-sec{
    padding: 95px 0px;
}

.com-sec-hd{
    h1{
        font-family: $rblack;
        margin-bottom: 60px;
        position: relative;
        text-align: center;
        &:after{
            content: "";
            background-image: url(../images/divi.png);background-repeat: no-repeat;background-size: 96px 14px;background-position: center center;
            position: absolute;
            bottom: -35px;
            left: 0;
            right: 0px;
            width: 96px;
height: 14px;margin: auto;
        }
    }
}
.ads-sec{
    background: #fff;
    .ads-sec-inner{
        padding: 0px 80px;
    }
    .ads-sec-content{
        .para{
            margin-bottom: 45px;
            text-align: center;
        }
        .ads-sec-content-cir{
            .ads-sec-content-cir-col {
                float: left;
                width: 33.33%;
                padding: 0px 10px;
                text-align: center;
                .ads-sec-content-cir-col-img{
                    position: relative;
                    img{
                        width: 201px;
                        margin: auto;
                        &.circle{
                            position: absolute;
                            top: 0px;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            -webkit-animation: rotat 2s linear 1;
                          -moz-animation: rotat 2s linear 1;
                          -ms-animation: rotat 2s linear 1;
                          -o-animation: rotat 2s linear 1;
                          animation: rotat 2s linear 1;
                                
                                @-webkit-keyframes rotat /* Safari and Chrome */ {
                                  from {
                                    -webkit-transform: rotate(0deg);
                                    -o-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                  }
                                  to {
                                    -webkit-transform: rotate(360deg);
                                    -o-transform: rotate(360deg);
                                    transform: rotate(360deg);
                                  }
                                }
                                @keyframes rotat {
                                  from {
                                    -ms-transform: rotate(0deg);
                                    -moz-transform: rotate(0deg);
                                    -webkit-transform: rotate(0deg);
                                    -o-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                  }
                                  to {
                                    -ms-transform: rotate(360deg);
                                    -moz-transform: rotate(360deg);
                                    -webkit-transform: rotate(360deg);
                                    -o-transform: rotate(360deg);
                                    transform: rotate(360deg);
                                  }
                                }
                            &:hover{
                                 -webkit-animation: rotating 2s linear 1;
                          -moz-animation: rotating 2s linear 1;
                          -ms-animation: rotating 2s linear 1;
                          -o-animation: rotating 2s linear 1;
                          animation: rotating 2s linear 1;
                                
                                @-webkit-keyframes rotating /* Safari and Chrome */ {
                                  from {
                                    -webkit-transform: rotate(0deg);
                                    -o-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                  }
                                  to {
                                    -webkit-transform: rotate(-360deg);
                                    -o-transform: rotate(-360deg);
                                    transform: rotate(-360deg);
                                  }
                                }
                                @keyframes rotating {
                                  from {
                                    -ms-transform: rotate(0deg);
                                    -moz-transform: rotate(0deg);
                                    -webkit-transform: rotate(0deg);
                                    -o-transform: rotate(0deg);
                                    transform: rotate(0deg);
                                  }
                                  to {
                                    -ms-transform: rotate(-360deg);
                                    -moz-transform: rotate(-360deg);
                                    -webkit-transform: rotate(-360deg);
                                    -o-transform: rotate(-360deg);
                                    transform: rotate(-360deg);
                                  }
                                }
                            }
                           
                            
                        }
                        &.circle-main{
                            z-index: 2;
                        }
                    }
                    
                }
                .ads-sec-content-cir-col-info{
                    h3{
                        margin: 15px 0px 10px 0px;
                        font-family: $rblack;
                    }
                }
            }
        }
    }
}



.wcu-sec{
    .wcu-sec-content{
        ul{
            .wcu-sec-list{
                float: left;
                width: 33.33%;
                margin-bottom: 20px;
                min-height: 70px;
                padding: 0px 10px;
            }
        }
        .wcu-sec-list-main{
            @extend .tbl;
            .wcu-sec-list-main-col{
                @extend .tbl-cell;
                vertical-align: top;
                &:nth-child(1){
                    width: 50px;
                    img{
                        height: 50px;
                    }
                }
                &:nth-child(2){
                    padding-left: 15px;
                }
            }
        }
    }
}


.enquiry-sec{
    
background: rgba(176,15,26,1);
background: -moz-linear-gradient(top, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(176,15,26,1)), color-stop(18%, rgba(180,16,24,1)), color-stop(35%, rgba(197,21,21,1)), color-stop(52%, rgba(208,24,21,1)), color-stop(69%, rgba(222,26,19,1)), color-stop(84%, rgba(238,32,17,1)), color-stop(100%, rgba(248,34,15,1)));
background: -webkit-linear-gradient(top, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
background: -o-linear-gradient(top, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
background: -ms-linear-gradient(top, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
background: linear-gradient(to bottom, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b00f1a', endColorstr='#f8220f', GradientType=0 );
    padding: 45px 0px;
    text-align: center;
    .enquiry-sec-inner{
        padding: 0px 165px;
        .para{
            color: #fff;
            font-size: 20px;
            margin-bottom: 20px;
            line-height: 30px;
        }
        .enquiry-sec-btn{
            .site-btn{
                height: 40px;
                box-shadow: none;
            }
        }
    }
}

.counter-sec{
    padding: 90px 0px 85px 0px;
    border-bottom: 2px solid #fa230f;
    background: #fff;
    .counter-sec-inner{
        padding: 0px 70px;
    }
    .counter-sec-col{
        float: left;
        width: 25%;
        padding: 0px 15px;
        text-align: center;
        .num-div{
            .num{
                font: 50px $rblack;
                color: #fa230f;
            }
        }
        .text-div{
            .text{
                font-size: 25px;
            }
        }
    }
}

.footer{
    background: #fff;
    padding: 90px 0px 95px 0px;
    border-top: 2px solid #fa230f;
    .footer-up-inner{
        padding: 0px 95px;
    }
    
    .footer-up-col{
        float: left;
        width: 33.33%;
        padding: 0px 10px;
        &:nth-child(1){
            padding-right: 90px;
            text-align: justify;
        }
        &:nth-child(2){
           width: 30%;
            padding-left: 20px;
        }
        &:nth-child(3){
           width: 36%;
        }
        .footer-logo{
            margin-bottom: 25px;
        }
        
        .footer-up-hd{
            h3{
                font-family: $rregular;
                color: #fa230f;
                text-transform: uppercase;
                margin: 0px 0px 15px 0px;
            }
        }
        .link-list{
            li{
                padding: 5px 0px;
            }
        }
        .social-list{
            position: relative;
            margin-bottom: 35px;
            &:after{
                content: "";
                border-bottom: 2px solid #fa230f;
                position: absolute;
                width: 150px;
                bottom: -22px;
            }
            li{
                display: inline-block;padding: 0px 8px;
                &:first-child{
                    padding-left: 0px;
                }
                
            }   
        }
        .terms{
            ul{
                li{
                    display: inline-block;
                    padding: 0px 5px;
                    position: relative;
                    &:after{
                        content: "|";
                        position: absolute;
                        top: 0px;
                        right: -4px;
                    }
                    &:first-child{
                        padding-left: 0px;
                    }
                    &:last-child{
                         &:after{
                        content: "";
                    }
                    }
                }
            }
        }
    }
    a,p,li, span{
        color: #323232;
        font-size: 13px;
    }
}

/**website list page **/
.Website-add-sec{
    background: rgba(176,15,26,1);
    background: -moz-linear-gradient(top, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(176,15,26,1)), color-stop(18%, rgba(180,16,24,1)), color-stop(35%, rgba(197,21,21,1)), color-stop(52%, rgba(208,24,21,1)), color-stop(69%, rgba(222,26,19,1)), color-stop(84%, rgba(238,32,17,1)), color-stop(100%, rgba(248,34,15,1)));
    background: -webkit-linear-gradient(top, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
    background: -o-linear-gradient(top, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
    background: -ms-linear-gradient(top, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
    background: linear-gradient(to bottom, rgba(176,15,26,1) 0%, rgba(180,16,24,1) 18%, rgba(197,21,21,1) 35%, rgba(208,24,21,1) 52%, rgba(222,26,19,1) 69%, rgba(238,32,17,1) 84%, rgba(248,34,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b00f1a', endColorstr='#f8220f', GradientType=0 );
    padding: 70px 30px 64px 30px;
    .adtext{
        font: 40px $rblack;
        color: #fff;
    }
    p{
        color: #fff;
        font: 15px $rbold;
        margin: 0;
    }
}

.uz-lp-black-strip{
    background: #191919;
    padding: 30px 0px;
}
.sort-form-main{
    .sort-form-col{
        float: left;
        width: 50%;
        padding: 0px 48px;
    }
}
.sort-form-row{
    @extend .tbl;
    .sort-form-row-col{
        @extend .tbl-cell;
        vertical-align: middle;
        &:nth-child(1){
            width: 40px;
        
        }
        &:nth-child(2){
            width: 80px;
        }
        label{
            font-weight: normal;
            font: 20px $rregular;
        }
        .form-control{
           background: transparent;
            border: none;
            border-bottom: 1px solid #fa230f !important;
            z-index: 1;
            border-radius: 0;
            color: #fff;
            font-size: 18px;
            &:focus{
                border: none;
                box-shadow: none;
            }
        }
    }
    
    .search-form-row-col{
        @extend .tbl-cell;
        vertical-align: middle;
        position: relative;
        &:nth-child(1){
            width: 45px;
        
        }
        .form-control{
           background: transparent;
            border: none;
            border-bottom: 1px solid #fa230f !important;
            z-index: 1;
            border-radius: 0;
            color: #fff;
            font-size: 18px;
            padding-right: 42px;
            &:focus{
                border: none;
                box-shadow: none;
            }
        }
        .btn {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            color: #fa230f;
            .fa{
                color: #fa230f;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

.uz-all-list{
    padding: 180px 0px 95px 0px;
    .listing{
        li{
            &.listing-col{
              margin-bottom: 130px;
                &:last-child{
                    margin-bottom: 0;
                }  
            }
            
        }
    }
}
.listing-main{
    background: #fafafa;
    border-width: 1px 0px 1px 0px;
    border-color: #ddd;
    border-style: solid;
    position: relative;
    padding: 35px 50px;
    .listing-main-content{
        float: left;
        width: 100%;
        padding-left: 550px;
        .listing-main-content-hd{
            .title{
                margin-bottom: 15px;
                h2{
                    display: inline-block;
                    font: 35px $rblack;
                    margin: 0;
                    min-height: 42px;
                }
                span{
                    padding-left: 5px;
                    display: inline-block;
                    vertical-align: middle;
                    min-height: 30px;
                }
            }
            .price{
                margin-bottom: 20px;
                @extend .tbl;
                .price-col{
                    @extend .tbl-cell;
                    vertical-align: middle;
                    &:nth-child(1){
                        width: 200px;
                        span{
                            font-size: 20px;
                        }
                    }
                    &:nth-child(2){
                        span{
                            font-size: 20px;
                            &.num{
                                color: #fa230f;
                                font-family: $rbold;
                            }
                        }
                    }
                    ul{
                        li{
                            display: inline-block;
                            padding: 0px 10px;
                            position: relative;
                            &:after{
                                position: absolute;
                                content: "|";
                                top: 0px;
                                right: -5px;
                                font-size: 20px;
                            }
                            &:last-child{
                                &:after{
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }
        }
        .listing-main-content-text{
            .rating-text{
                @extend .tbl;
                border-top: 1px solid #ddd;
                .rating-text-col{
                    @extend .tbl-cell;
                    vertical-align: top;
                    padding-top: 30px;
                    &:nth-child(1){
                        width: 230px;
                        border-right: 1px solid #ddd;
                    }
                    &:nth-child(2){
                        padding-left: 40px;
                    }
                    .check-btn{
                        margin-top: 35px;
                        .site-btn{
                            height: 40px;
                            width: 180px;
                            font-size: 13px;
                            border: 1px solid #fa230f;
                            box-shadow: 1px 1px 0px 1px #fa230f;
                            &:hover{
                                box-shadow: none;
                            }
                        }
                    }
                    .list-info{
                        li{
                            padding: 7px 0px 7px 22px;
                            position: relative;
                            &:after{
                                content: "\f124";
                                position: absolute;
                                left: 0;
                                top: 6px;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                color: #fa230f;
                                @include rotate(40 );
                        

                                }
                            &:first-child{
                                padding-top: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    .listing-main-img{
        position: absolute;
        float: left;
        width: 475px;
        top: 0;
        height: 380px;
        overflow: hidden;
        bottom: 0;
        margin: auto;
        box-shadow: 2px 2px 0px 2px #fa230f;
        border-radius: 12px;
        border: 1px solid #fa230f;
        img{
            float: left;
            width: 100%;
            height: auto;
            min-height: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            left: 50%;
        }
    }
}

.listing-pagination
{
    padding-top: 110px;
text-align: center;
    ul{
        li{
            display: inline-block;
            padding: 0px 10px;
            a{
                color: #323232;
                &.prev{
                    color: #fa230f ;
                    text-transform: uppercase;
                    .fa{
                        width: 25px;
                        height: 25px;
                        border: 1px solid #fa230f;
                        border-radius: 100%;
                        color: #fa230f !important;
                        font-style: normal;
                        display: inline-block;
                        &:before{
                            display: inline-block;
                            line-height: 23px;
                            vertical-align: middle;
                            content: "<";
                        }
                    }
                }
                &.next{
                    color: #fa230f ;
                    text-transform: uppercase;
                    .fa{
                        width: 25px;
                        height: 25px;
                        border: 1px solid #fa230f;
                        border-radius: 100%;
                        color: #fa230f !important;
                        font-style: normal;
                        display: inline-block;
                        &:before{
                            display: inline-block;
                            line-height: 23px;
                            vertical-align: middle;
                            content: ">";
                        }
                    }
                }
                span{
                    width: 35px;
                    height: 35px;
                    border: 1px solid #323232;
                    color: #323232;
                    border-radius: 100%;
                    display: inline-block;
                    line-height:35px;
                }
                &:hover{
                    span{
                        background: #fa230f;
                        color: #fff;
                        border: 1px solid #fa230f;
                    }
                }
                
            }
        }
    }
}

.br-theme-css-stars .br-widget a {
    height: 45px;
    width: 28px;
    font-size: 33px;
}
.br-theme-css-stars .br-widget {
    height: 45px;
}
.br-theme-css-stars .br-widget a.br-selected::after {
    color: #fa230f;
}
.br-theme-css-stars .br-widget a.br-active::after {
    color: #fa230f;
}

/**website info page **/
.black-strip-text{
    text-align: center;
    p{
        margin: 0;
        color: #fff;
        font-size: 20px;
        span{
            font-size: 25px; 
        }
    }
}
.web-info-wrap{
    background: #fff;
    padding: 95px 0px 0px;
    .web-info-text {
        margin-bottom: 95px;
        p{
            margin: 0;
            padding: 0px 130px;
            text-align: center;
        }
    }
}
.web-info-list{
    ul{
        li{
            &.web-info-list-col{
                @extend .full;
                padding: 0px 75px;
                margin-bottom: 95px;
                
                .web-info-list-main{
                    @extend .tbl;
                    .web-info-list-main-col{
                        @extend .tbl-cell;
                        vertical-align: top;
                        position: relative;
                        &:nth-child(1){
                            width: 380px;
                        }
                        &:nth-child(2){
                            padding-left: 20px;
                        }
                        .web-info-list-main-img{
                            box-shadow: 2px 2px 0px 2px #fa230f;
                            border-radius: 12px;
                            border: 1px solid #fa230f;
                            overflow: hidden;
                            width: 380px;
                            position: relative;
                            img{width: 100%;}
                        }
                        .img-bottom{
                            position: absolute;
                            bottom: 0px;
                            left: 0;
                            right: 0;
                            background: #fa230f;
                            color: #fff;
                            border-radius: 0px 0px 12px 12px;
                            text-align: center;
                            padding: 15px 0px;
                            h3{
                                margin: 0;
                                text-transform: uppercase;
                               
                            }
                        }
                        .web-info-list-main-table{
                            .info-list-tb{
                                border: 1px solid #ddd;
                                margin: 0;
                                th,td{
                                    padding: 15px 20px;
                                    border-right: 1px solid #ddd;
                                    text-align: center;
                                    &:last-child{
                                        border-right: none;
                                    }
                                    &:first-child{
                                        text-align: left;
                                    }
                                }
                                th{
                                    border-bottom: none;
                                }
                                td{
                                    padding: 18px 20px;
                                }
                            }
                            .site-btn{
                                height: auto;
                                width: auto;
                                padding: 3px 20px;
                                font-size: 10px;
                                text-transform: uppercase;
                                border: 1px solid #fa230f;
                                box-shadow: 1px 1px 0px 1px #fa230f;
                                &:hover{
                                    box-shadow: none;
                                        
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner-info-sec1{
    .banner-info-sec1-inner{
        padding: 100px 0px;
        @extend .tbl;
        .banner-info-sec1-col{
            @extend .tbl-cell;
            vertical-align: middle;
            &:nth-child(1){
                width: 550px;
            }
            &:nth-child(2){
                padding-left: 40px;
            }
            .banner-info-sec1-img{
                box-shadow: 2px 2px 0px 2px #fa230f;
                border-radius: 12px;
                border: 1px solid #fa230f;
                overflow: hidden;
                width: 540px;
                position: relative;
                img{
                    width: 100%;
                }
            }
            .banner-info-sec1-info{
                .banner-info-sec1-info-hd{
                    h2{
                        font: 25px $rbold;
                        margin: 0 0 15px 0;
                        &.size{
                             font-family: $rregular;
                                span{
                                    font-family: $rbold;
                                }
                            
                        }
                    }
                }
                .banner-info-sec1-info-content{
                    .info-content-up{
                        p{
                            font-family: $rlight;
                        }
                    }
                    .info-content-bottom{
                        .rates{
                            margin-bottom: 30px;
                            p{
                                font: 20px $rregular;
                                span{
                                    &:nth-child(2){
                                        font-family: $rbold;
                                    }
                                }
                            }
                        }
                        .info-content-btn{
                            .btn{
                                padding: 15px 30px;
                                border-radius: 30px;
                                color: #fff;
                                background: #fa230f;
                                text-transform: uppercase;
                                border: 1px solid #fa230f;
                                &:hover{
                                    background: #fff;
                                    color: #fa230f;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner-info-sec2{
    padding: 100px 0px;
}
.clnd-div{
    margin-bottom: 60px;
    .clnd-div-col{
        float: left;
        width: 50%;
        &:nth-child(1){
            padding-right: 30px;
        }
        &:nth-child(2){
            padding-left: 30px;
            .hrs-avail{
                margin: 30px auto;
                .hrs-avail-hd{
                    padding: 25px 0px;
                    background: #323232;
                    color: #fff;
                    text-align: center;
                    h2{
                        color: #fff;
                        margin: 0 0 4px 0px;
                        font: 25px $rbold;
                    }
                }
                .hrs-avail-content{
                    margin-top: 10px;
                    .site-btn{
                        width: auto;
                        height: 25px;
                        font-size: 10px;
                        box-shadow: 1px 1px 0px 1px #fa230f;
                        border: 1px solid #fa230f;
                        &:hover{
                            box-shadow: none;
                                
                        }
                        &.disable{
                            border: 1px solid #939393 !important;
                            box-shadow: 1px 1px 0px 1px #939393 !important;
                            color: #939393 !important;
                            background: transparent !important;
                           
                            
                        }
                        &.active{
                            border: 1px solid #fa230f !important;
                            box-shadow: none !important;
                            color: #fff !important;
                            background: #fa230f !important;
                           
                            
                        }
                    }
                    .hrs-avail-tb{
                        td{
                            text-align: center;
                            border: none;
                            vertical-align: middle;
                           
                        }
                        tr{
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
}
.cal1 .clndr .clndr-table .header-days {
    background: transparent;
    
}
.cal1 .clndr .clndr-table .header-days .header-day {
    color: #fa230f;border: none !important;
}
.cal1 .clndr .clndr-controls {
    padding: 25px 0px;
    background: #323232;
    color: #fff;margin: 0;
}
.cal1 .clndr .clndr-table tr .day {
    border: none !important;
   /* width: auto !important;
height: auto !important;*/
}
.cal1 .clndr .clndr-controls .month {
    font: 25px $rbold;
    text-transform: uppercase;
}
.cal1 .clndr .clndr-table .header-days {
    font-size: 13px;
}
.cal1 .clndr .clndr-table tr td {
    vertical-align: middle;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
    text-align: center;
   
}
.cal1 .clndr .clndr-table tr .day.event, .cal1 .clndr .clndr-table tr .day.my-event {
    background: transparent;
}
.cal1 .clndr .clndr-table tr .day.event .day-contents, .cal1 .clndr .clndr-table tr .day.my-event .day-contents{
     width: 35px;
height: 35px;
margin: auto;
background: #fa230f;
color: #fff;
border-radius: 100%;
}

.cal1 .clndr .clndr-table tr .empty .day-contents, .cal1 .clndr .clndr-table tr .adjacent-month .day-contents, .cal1 .clndr .clndr-table tr .my-empty .day-contents, .cal1 .clndr .clndr-table tr .my-adjacent-month .day-contents {
    background: transparent;
    color: #afafaf;
}
.cal1 .clndr .clndr-table tr .empty, .cal1 .clndr .clndr-table tr .adjacent-month, .cal1 .clndr .clndr-table tr .my-empty, .cal1 .clndr .clndr-table tr .my-adjacent-month {
  background: transparent;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
    text-align: right;
}
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {
    text-align: left;
}
.cal1 .clndr .clndr-table tr .day.event:hover, .cal1 .clndr .clndr-table tr .day.my-event:hover {
    background: transparent;
}
.cal1 .clndr .clndr-table {
    thead{
        tr{
            &.header-days{
                 height: 70px;
            }
           
        }
    }
    tr{
        height: 70px;
    }
}
.day-selected{
    .day-selected-inner{
        .hrs-avail-tb{
            width: 640px;
            margin: 20px auto;
            border: 1px solid #ddd;
            thead{
                background: #fa230f;
                color: #fff;
                th{
                    text-transform: capitalize;
                    padding: 15px 5px;
                    text-align: center;
                    border-bottom: none;
                }
            }
            td{
                padding: 20px 5px;
                text-align: center;
                border-right: 1px solid #ddd;
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
}

.boooking-clnd{
    .nav-tabs{
        width: 100%;
        display: inline-block;
        text-align: center;
        border: none;
        margin-bottom: 70px;
        li{
            float: none;
            text-align: center;
            margin: auto;
            display: inline-block;
            &.first{
                a{
                    border-radius: 20px 0px 0px 20px; 
                    
                }
            }
            &.second{
                a{
                    border-radius: 0px 20px 20px 0px;
                    margin-left: -4px;
                    
                }
            }
            a{
                border: 1px solid #fa230f !important;
                color: #323232;
                margin: 0;
                position: relative;
                padding: 10px 30px;
                &:hover{
                    background: transparent;
                }
            }
            &.active{
                a{
                    background: #fa230f;
                    color: #fff;
                    
                    
                }
                &.first{
                    a{
                        &:after{
                             position: absolute;
                        content: "";
                         border-top: 42px solid transparent;
                        bottom: 0px;
                        right: -17px;
                        border-left: 15px solid #fa230f;
                        }
                    }
                }
                &.second{
                    a{
                        &:after{
                        position: absolute;
                        content: "";
                         border-top: 42px solid transparent;
                        bottom: 0px;
                        left: -17px;
                        border-right: 15px solid #fa230f;
                        }
                    }
                }
            }
        }
    }
}

/**contact us page **/
.contact-page-content{
    padding: 0px 100px;
    .contact-page-content-text{
        text-align: center;
    }
    .contact-page-content-form {
        .gp-contact-form-group{
            padding: 0px 15px;
            float: left;
            &:nth-child(1){
                width: 50%;
            }
            &:nth-child(2){
                width: 50%;
            }
            &:nth-child(3){
                width: 100%;
            }
            &:nth-child(4){
                width: 100%;
            }
             &:nth-child(5){
                width: 100%;
            }
            .form-control{
                border-radius: 0px;
                height: 50px;
            }
            textarea{
                border-radius: 0px;
                width: 100%;
                border: 1px solid #ccc;
                min-height: 170px;
                padding: 6px 12px;
            }
            
            
    }
    }
    .contact-submit-btn{
        text-align: center;
        .btn{
            border: 1px solid #fa230f;
            padding: 10px 50px;
            text-transform: uppercase;
            width: auto;
            height: auto;
            
        }
    }
}
.contact-page-footer{
    background: #ebf0f5;
    .contact-page-footer-inner{
        padding: 65px 25px;
        .contact-page-footer-inner-col{
            float: left;
            width: 33.33%;
            padding: 0px 15px;
            
            .contact-page-footer-info{
                @extend .tbl;
                .contact-page-footer-info-col{
                     @extend .tbl-cell;
                    vertical-align: middle;
                    &:nth-child(1){
                        width: 80px;
                    }
                     &:nth-child(2){
                        padding-left: 25px;
                    }
                    .contact-page-footer-info-img{
                        width: 80px;
                        height: 80px;
                        background: #fa230f;
                        vertical-align: middle;
                        display: table-cell;
                        text-align: center;
                    }
                    p, a{
                        color: #323232;
                        
                    }
                }
            }
            
        }
    }
    
    a,p{
        color: #323232;
    }
}

.contact-us-wrap{
    padding: 100px 0px 0px 0px;
    .contact-page{
        margin-bottom: 50px;
    }
}

.abt-cms-wrap{
    padding: 100px 0px;
}

.cms-pages{
    .Website-add-sec {
    padding: 30px 30px 30px 30px;
    text-align: center;
}
}